/*Invoice Details*/
#lbi-inovoice-details .inside{
	padding: 0 0 0 0;
}
.lb-submitbox #lb-client,
.lb-submitbox #lb-invoice-number,
.lb-submitbox #lb-po-number,
.lb-submitbox #post-status{
	width: 100%;
}
.lb-submitbox input.lb-skinny{
	width: 40px;
}
.lb-submitbox .tax-rate-section label{
	vertical-align: text-bottom;
}
#lb-due-date:before{
	font: 400 20px/1 dashicons;
	speak: none;
	display: inline-block;
	padding: 0 2px 0 0;
	top: 0;
	left: -1px;
	position: relative;
	vertical-align: top;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-decoration: none!important;
	content: "\f145";
	top: -1px;
}

/*Invoice Line Items*/
#lbi-line-items .inside{
	padding: 0 0 0 0;
	margin-top: 0;
}
.items-wrap{
	padding: 10px 0;
	background: #F6F6F6;
	color: #A7A7A7;
}
.item-row{
	clear: both;
	overflow: hidden;
	box-sizing: border-box;
	padding: 0 20px;
}
.lb-line-item{
	margin: 20px 0;
	position: relative;
}
.item-row .dashicons-dismiss,
.item-row .dashicons-plus-alt{
	position: absolute;
	left:14px;
	top: 4px;
}
.item-row .dashicons-plus-alt{
	top: 34px;
}
.item-row .flex-width{
	float: left;
	margin-right: -200px;
	padding-left: 28px;
	padding-right: 240px;
	width: 100%;
	box-sizing: border-box;
}
.item-row .fixed-width{
	float: right;
	width: 200px;
	box-sizing: border-box;
	text-align: right;
}
.item-row .item-title{
	width: 100%;
}
.fixed-width > .sub-fixed{
	width: 40px;
	text-align: center !important;
	display: inline-block;
	margin-right: 0;
	margin-left: 5px;
}
.item-row textarea{
	width: 100%;
	min-width: 100%;
	margin-top: 10px;
}
.lb-bottom-controls{
	padding: 10px 0 10px 47px;
	background: #FAFAFA; 
}